body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* CoinData */

.coin-box {
    /*border: 1px solid black;*/
    margin-bottom: 30px;
}

.all-checklists .coin-box .title {
    font-size: 20px;
    text-decoration: none;
}

.all-checklists .coin-box .sub-title {
    font-size: 16px;
    font-style: italic;    
    text-align: center;
    font-weight: 600;
}

.coin-image {
    width: 100%;
}

.coin-box .title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.header-block .coin-breadcrumb {
    margin-left: 55px;
    font-size: 24px;
}

    .header-block .coin-breadcrumb a {
        color: #4f5f6f;
        text-decoration: none;
    }

.header-block .coin-breadcrumb span {
    margin-left: 20px;
    margin-right: 20px;
}

.coins .coin-list {
    width: 100%;
}

    .coins .coin-list thead {
        font-size: 18px;
    }

    .coins .coin-list tbody {
        font-size: 16px;
    }

select.form-control {
    height: auto !important;
}

.coin-grades {
    font-size: 18px;
    margin: 0;
}

    .coin-grades .grade-row {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #D6DCE3;
        margin-top: -1px;
    }

    .coin-grades .grade-numeric {
        font-weight: 600;
    }

    .coin-grades .grade-sheldon {
        font-style: italic;
    }

    .coin-grades .coin-grade-img {
        width: 100%;
    }

.progress {
    height: 50px;
    margin: 0;
}

.progress-label {
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    margin-top: -37px;
    margin-left: 15px;
}

.coins-in-collection .progress-bar-success {
    background-color: #85CE36;
}

.value-totals {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

    .value-totals .col-md-3 {
        text-align: right;
    }

    .value-totals span {
        font-size: 20px;
        font-weight: 700;
    }

.checklist-totals .checklist-info {
    padding: 10px;
    margin: 5px;
    border: 1px solid #D6DCE3;
}

    .checklist-totals .checklist-info h3 {
        text-align: center;
        margin-top: 0 !important;
    }

    .checklist-totals .checklist-info button {
        margin-top: 15px;
    }

.coin-date-range {
    color: #969696;
    font-size: 15px;
}

.cb-coin-type .type-details .info {
    font-size: 18px;
}

    .cb-coin-type .type-details .info .label-header {
        font-weight: bold;
    }

.cb-coin-type .cb-coin-list {
    width: 50%;
}

.cb-coin-type .type-actions {
    margin-bottom: 20px;
}

.cb-coin-type .type-details .image-coin-type {
    max-width: 50%;
    display: inline;
}
.cb-denomination-list .image-coin-type {
    max-height: 100px;
    display: inline-block;
}

.cb-denomination-list .denomination-title {
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    background-color: #C3DEA8;
}

.variety-summary {
    max-width: 300px;
    min-height: 122px;
    text-align: center;
    margin-top: 10px;
}

    .variety-summary a {
        font-size: 18px;
        text-decoration: none;
        display: block;
    }