body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* CoinData */

.coin-box {
    /*border: 1px solid black;*/
    margin-bottom: 30px;
}

.all-checklists .coin-box .title {
    font-size: 20px;
    text-decoration: none;
}

.all-checklists .coin-box .sub-title {
    font-size: 16px;
    font-style: italic;    
    text-align: center;
    font-weight: 600;
}

.coin-image {
    width: 100%;
}

.coin-box .title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.header-block .coin-breadcrumb {
    margin-left: 55px;
    font-size: 24px;
}

    .header-block .coin-breadcrumb a {
        color: #4f5f6f;
        text-decoration: none;
    }

.header-block .coin-breadcrumb span {
    margin-left: 20px;
    margin-right: 20px;
}

.coins .coin-list {
    width: 100%;
}

    .coins .coin-list thead {
        font-size: 18px;
    }

    .coins .coin-list tbody {
        font-size: 16px;
    }

select.form-control {
    height: auto !important;
}

.coin-grades {
    font-size: 18px;
    margin: 0;
}

    .coin-grades .grade-row {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #D6DCE3;
        margin-top: -1px;
    }

    .coin-grades .grade-numeric {
        font-weight: 600;
    }

    .coin-grades .grade-sheldon {
        font-style: italic;
    }

    .coin-grades .coin-grade-img {
        width: 100%;
    }