@model PumaCoinCatalog.Web.Models.CbCollection.CbChecklistTypeDropDownModel

<label for="ddlTypes">Choose a type:</label>
@Html.DropDownListFor(
    x => x.SelectedTypeId,
    new SelectList(Model.Types, "Value", "Text"),
    new { @class = "form-control", @id = "ddlTypes" })

