@model PumaCoinCatalog.Web.Models.CbCollection.CbChecklistDenominationDropDownModel

<label for="ddlDenominations">Choose a denomination:</label>
@Html.DropDownListFor(
    x => x.SelectedDenominationId,
    new SelectList(Model.Denominations, "Value", "Text"),
    new { @class = "form-control", @id = "ddlDenominations",
        onclick = "ddlDenominationsChange();"
    })

