@model PumaCoinCatalog.Web.Models.CbCollection.CbChecklistVarietyDropDownModel

<label for="ddlVarieties">Choose a variety:</label>
@Html.DropDownListFor(
    x => x.SelectedVarietyId,
    new SelectList(Model.Varieties, "Value", "Text"),
    new { @class = "form-control", @id = "ddlVarieties",
        onclick = "ddlVarietiesChange();"
    })

