@model PumaCoinCatalog.Web.Models.CbCollection.CbChecklistCountryDropDownModel

<label for="ddlCountries">Choose a country:</label>
@Html.DropDownListFor(
    x => x.SelectedCountryId,
    new SelectList(Model.Countries, "Value", "Text"),
    new { @class = "form-control", @id = "ddlCountries",
        onclick= "ddlCountriesChange();"
    })

