@model PumaCoinCatalog.Web.Models.CbCollection.NewChecklistViewModel

<div id="divNewChecklist" class="row" style="display: none;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <form role="form" id="formNewChecklist" method="post">
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label for="checklistTitle">Checklist Title</label>
                            <input type="text" id="checklistTitle" name="title" class="form-control" />
                            <span id="errTitle" class="has-error" style="display: none;">Give your checklist a title por favor</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <div id="divCountries">
                                @Html.Partial("_ddlCbChecklistCountries", Model.CountryDropDownViewModel)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="divDenomiations">
                                @Html.Partial("_ddlCbChecklistDenominations", Model.DenominationDropDownViewModel)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="divVarieties">
                                @Html.Partial("_ddlCbChecklistVarieties", Model.VarietyDropDownViewModel)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="divTypes">
                                @Html.Partial("_ddlCbChecklistTypes", Model.TypeDropDownViewModel)
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="createChecklist();">Create the Checklist</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="cancelCreateChecklist();">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
