
@{
    ViewBag.Title = "All Checklists";
}

<h2>All Checklists</h2>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {               
            resetMenu();
            setActiveMenu('/Checklist/AllChecklists');
        });
    </script>

}

