
@{
    ViewBag.Title = "New Checklist";
}

<h3>New Checklist</h3>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            resetMenu();
            setActiveMenu('/Checklist/NewChecklist');
        });
    </script>

}