@model PumaCoinCatalog.Web.Models.CoinData.CoinCollectionModel

@{
    ViewBag.Title = Model.Title;
}

@section pageHeader {
    <div class="coin-breadcrumb">
        @Model.Title
    </div>
}

<div class="coin-categories">
    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="col-md-3 coin-box">
                <a href="@Url.Action("CoinCategory", "CoinData", new { id = category.Id })">
                    <img src="data:image/jpg;base64,@category.Base64Image" alt="@category.Title" class="coin-image" />
                    <br />
                    <div class="title">@category.Title</div>
                </a>
            </div>
        }
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            resetMenu();
            setActiveMenu('/CoinData');
        });
    </script>

}